<div class="container mt-5 mb-5 text-center d-flex">
    <div class="card mr-3" style="width: 18rem;">
        <img class="card-img-top" src="https://avatars0.githubusercontent.com/u/987174?s=460&v=4" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Ahmet Can Guven</h5>
        </div>
    </div>
    <div class="card mr-3" style="width: 18rem;">
        <img class="card-img-top"
            src="https://yt3.ggpht.com/a-/AAuE7mCKK_h9DrHj5gD2NGgDScNYDSXgb6TXyUy4HA=s288-mo-c-c0xffffffff-rj-k-no"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Cihad Horuzoglu</h5>
        </div>
    </div>

    <div class="card mr-3" style="width: 18rem;">
        <img class="card-img-top" src="https://avatars0.githubusercontent.com/u/14964559?s=460&v=4"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Gamze Senturk</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://avatars3.githubusercontent.com/u/13199681?s=460&v=4"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Erdogan Oksuz</h5>
        </div>
    </div>
</div>